body {
    font-family: 'Balsamiq Sans';
    font-size: 30px;
}

.user {
    border: 2px solid black;
    width: 450px;
    margin: 20px;
    padding: 10px;
    position: relative;
    top: 100px;
    left: 450px;
}

.header > span {
    padding: 10px;
}

.header > button {
    margin: 5px;
    background-color: rgb(202, 192, 46);
    color:white;
    border-color: black;
    box-shadow: 3px 3px black;
    font-size: 20px;
    padding: 5px 20px;
    margin-left: 30px;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 10px;
}

.header > p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    padding: 10px;
    font-size: 20px;
}