* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Balsamiq Sans';
}

.container {
    width: 90%;
    max-width: 1000px;
    margin:auto;
}

.title {
    color: white;
    display:flex;
}

